{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='{% static 'cal/fullcalendar.css' %}' rel='stylesheet' />
<link href={% static 'cal/print.css' %} rel='stylesheet' media='print' />
<script src={% static 'cal/moment.js' %}></script>
<script src={% static 'cal/jquery.js' %}></script>
<script src={% static 'cal/fullcalendar.js' %}></script>
<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

var source = [
	{
			url: '/api/events/',
			headers: {
				"X-CSRFToken": csrftoken,
			},
	}
];


	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listWeek'
			},
			defaultDate: '2017-10-12',
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			eventSources: source,
		});

	});

</script>
<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

</style>
</head>
<body>

	<div id='calendar'></div>

</body>
</html>
