{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'node_modules/fullcalendar/dist/fullcalendar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'node_modules/fullcalendar/dist/fullcalendar.print.css' %}" />
{% endblock %}

{% block content %}

<div id='calendar'></div>

{% endblock %}

{% block scrips %}
<script src="{% static 'node_modules/moment/min/moment-with-locales.min.js' %}" charset="utf-8"></script>
<script src="{% static 'node_modules/fullcalendar/dist/fullcalendar.min.js' %}" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
      // put your options and callbacks here
      events: '/myfeed.php'
  })

});
</script>
{% endblock %}
