{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form
  data-success="/home/song/{{form.initial.id}}/"
  action="/api/songs/{{form.initial.id}}/"
  method="post"
  class="form-view ajax-form" id="form-song-edit"
>
    {{ form.as_table }}
    <select
     data-type="multiselect"
     class="form-control select2"
     name="musical_styles"
     required
     id="id_musical_styles"
     multiple="multiple"
     >
     {% for musical_style in musical_styles %}
      <option selected value="{{ musical_style.id }}">{{ musical_style.name }}</option>
     {% endfor %}
    </select>
    <hr />
    <input id="input-song-edit" type="submit" value="Guardar" class="btn btn-success" />
</form>


{% endblock %}
